# test file
test.py

# data files
data

# reference codes
avataRL
3rdparty
lm-evaluation-harness
check_future_mask.py
flame_origin
# shell scripts
*.sh

# docs
docs/_build

# intermediate files
build
dist
*.egg-info

# experimental results
exp
results
wandb
*.csv
*.png
*.html

# log and config files
log.*
*.log
*.cfg
*.ini
*.yml
*.yaml

# pycache
__pycache__

# saved model
*.pkl
*.pt

# hidden files
.*

# vscode
.vscode

# macOS
.DS_Store
